$light-gray:  #F9F9F9;
$dark-gray: #d8d8d8;
$white: #FFF;
// $violet: #37173d;
// $purple: #f9f6f3;
// $orange: #fc4945;
$black: #000;

$bg-light: #f9f6f3;
$dark: #31303b;
$primary: #2d2e70;
$secondary: #eb5544;


$margin-base: 15px;
$padding-base: 15px;

$font-size-base: 12px;
$font-weight-base: 300;