@import url("https://use.typekit.net/ovo1sqy.css");
body {
  font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, a, a:hover, p {
  font-weight: 300;
  color: #2d2e70;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

p {
  font-size: 0.9rem;
}

body, ul, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  min-height: 80px;
  padding: 0 15px;
  background: #f9f6f3;
}

.container-header .link-image {
  height: 90%;
}

.container-header .link-image .image-logo {
  height: 100%;
}

.container-header .menu-top {
  display: flex;
}

.container-header .menu-top .menu-item {
  margin: 0 15px;
}

.container-header .menu-top .menu-item .item-link {
  color: #101027;
  font-size: 18px;
  font-weight: 450;
}

.container-header .menu-top .menu-item .container-submenu {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 240px;
  padding: 30px 100px;
  background: #FFF;
  border-top: 1px solid rgba(45, 46, 112, 0.2);
  border-bottom: 1px solid rgba(45, 46, 112, 0.2);
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 2;
  overflow: hidden;
  display: none;
}

.container-header .menu-top .menu-item .container-submenu.active {
  display: flex;
}

.container-header .menu-top .menu-item .container-submenu .submenu-top {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

.container-header .menu-top .menu-item .container-submenu .submenu-top .submenu-title {
  font-size: 18px;
  font-weight: 150;
}

.container-header .menu-top .menu-item .container-submenu .submenu-top li {
  margin: 7.5px 0;
}

.container-header .menu-top .menu-item .container-submenu .submenu-top li .submenu-link {
  font-size: 12px;
  color: lighter(#2d2e70, 20%);
  transition: .6s;
}

.container-header .menu-top .menu-item .container-submenu .submenu-top li .submenu-link:hover {
  color: #2d2e70;
  transition: .6s;
  box-shadow: 0 -1px 0 0 #2d2e70 inset;
}

.container-header .menu-top .menu-item .container-submenu .box-service {
  width: 200px;
  margin: 15px;
}

.container-header .menu-top .menu-item .container-submenu .box-service .box-title {
  color: #1a191f;
  font-size: 18px;
  font-weight: 450;
  margin: 15px 0;
}

.container-header .menu-top .menu-item .container-submenu .box-service p {
  color: #31303b;
}

.container-header .menu-top .menu-item .container-submenu .box-service .box-image-big {
  position: relative;
  padding-top: 60%;
}

.container-header .menu-top .menu-item .container-submenu .box-service .box-image-big .box-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.container-header .menu-top .menu-item .container-submenu .box-service .box-image-big .box-image .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .4s;
}

.container-header .menu-top .menu-item .container-submenu .box-service .box-image-big .box-image .image:hover {
  transform: scale(1.1);
}

.container-header .box-user {
  display: flex;
  height: 100%;
}

.container-header .box-user .box-login {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 15px;
}

.container-header .box-user .box-login .text-login {
  color: #2d2e70;
  font-size: 12px;
  font-weight: 400;
  transition: 0.3s;
}

.container-header .box-user .box-login .text-login:hover {
  color: #eb5544;
}

.container-header .box-user .box-reservation {
  display: flex;
  align-items: center;
  height: 100%;
  background: #2d2e70;
  padding: 0 15px;
  transition: 0.3s;
}

.container-header .box-user .box-reservation:hover {
  background: #eb5544;
}

.container-header .box-user .box-reservation .text-reservation {
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
}

.container-slider-main .slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
}

.container-slider-main .slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.container-slider-main .slick-slider .slick-list:focus {
  outline: none;
}

.container-slider-main .slick-slider .slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.container-slider-main .slick-slider .slick-arrow {
  width: 35px;
  height: 35px;
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #FFF;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.container-slider-main .slick-slider .slick-arrow.slick-prev {
  left: 20px;
}

.container-slider-main .slick-slider .slick-arrow.slick-next {
  right: 20px;
}

.container-slider-main .slick-slider .slick-arrow svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-slider-main .slick-slider .slick-dots {
  position: absolute;
  bottom: 25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  z-index: 10;
}

.container-slider-main .slick-slider .slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.container-slider-main .slick-slider .slick-dots li span {
  width: 100%;
  height: 100%;
  display: block;
}

.container-slider-main .slick-slider .slick-dots li span:after {
  content: " ";
  display: inline-block;
  border: 3px solid #2d2e70;
  opacity: 0.5;
  border-radius: 50%;
  width: 11px;
  height: 11px;
}

.container-slider-main .slick-slider .slick-dots li.slick-active span:after {
  opacity: 1;
  border: 3px solid #2d2e70;
}

.container-slider-main .box-image-big {
  position: relative;
  padding-top: 30%;
}

.container-slider-main .box-image-big .box-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.container-slider-main .box-image-big .box-image .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
