@import url("https://use.typekit.net/ovo1sqy.css");
body, ul, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

body, h1, h2, h3, h4, h5, h6, p, a, a:hover, input {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
  font-weight: 300;
}

h1, h2, h3 {
  text-align: center;
  margin: 30px 0;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin: 10px 0;
}

h5 {
  font-size: 1rem;
}

p {
  font-size: 0.9rem;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  min-height: 80px;
}

header .top-menu {
  display: flex;
}

header .top-menu li {
  margin: 0 15px;
}

header .top-menu li a {
  font-size: 18px;
  font-weight: 500;
}

header .top-menu li .top-submenu.hide {
  display: none;
}

header .user-container {
  display: flex;
  height: 100%;
}

header .user-container .login-box {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 15px;
}

header .user-container .login-box .login-text {
  color: #37173d;
  font-size: 18px;
  font-weight: 400;
  transition: 0.3s;
}

header .user-container .login-box .login-text:hover {
  color: #fc4945;
}

header .user-container .reservation-box {
  display: flex;
  align-items: center;
  height: 100%;
  background: #37173d;
  padding: 0 15px;
  transition: 0.3s;
}

header .user-container .reservation-box:hover {
  background: #fc4945;
}

header .user-container .reservation-box .reservation-text {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
}

.bg__services {
  width: 100%;
  height: auto;
  position: relative;
}

.form {
  width: 70%;
  padding: 5%;
  margin: 0 10% 30px 10%;
  background-color: #F9F9F9;
  border: 1px solid #37173d;
  border-radius: 5px;
}

.tab {
  display: none;
}

#buttonsPanelContainer {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.content-panel {
  width: 100%;
  height: 100%;
  display: none;
}

.container {
  flex-direction: column;
}

.container__services, .container_orderinfo, .container__team, .container__footer {
  padding: 50px 0;
}

.container__services {
  width: 100%;
  height: 80vh;
  position: relative;
}

.container_orderinfo h4 {
  justify-content: center;
}

.container__footer {
  background: #f4ebf2;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.row__services {
  top: 50%;
  transform: translateY(-50%);
  justify-content: center;
  position: absolute;
}

.row__orderInfo {
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.col__footer {
  width: 29.33%;
  margin: 0 2%;
}

.col__footer a {
  text-decoration: none;
  transition: 0.3s;
}

.col__footer a:hover {
  color: #fc4945;
  text-decoration: none;
}

.col__footer--big {
  width: 58.66%;
  margin: 0 2%;
}

.col__footer--big a {
  text-decoration: none;
  transition: 0.3s;
}

.col__footer--big a:hover {
  color: #fc4945;
  text-decoration: none;
}

.box {
  display: flex;
  flex-direction: column;
}

.box__services {
  justify-content: center;
  width: 300px;
  height: 450px;
  margin: 15px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.3);
  transition: 0.5s;
}

.box__services:hover {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
  transform: translateY(-10px);
  background: rgba(255, 255, 255, 0.6);
}

.box__services h4 {
  justify-content: center;
}

.box__team {
  width: 50%;
}

.box__orderInfo {
  text-align: center;
  width: 150px;
  height: 150px;
  margin: 50px;
  border: 3px solid #37173d;
  border-radius: 50%;
}

.box__footer {
  width: 46%;
  margin: 0 2%;
}

.box__icon .icon__socialMedia--violet {
  display: block;
}

.box__icon .icon__socialMedia--orange {
  display: none;
}

.box__icon:hover .icon__socialMedia--violet {
  display: none;
}

.box__icon:hover .icon__socialMedia--orange {
  display: block;
}

table {
  width: 100%;
  font-size: 1.2rem;
}

table th {
  padding: 10px;
}

table td {
  text-align: center;
  height: 50px;
}

table td select {
  width: 100%;
  margin: 0;
}

input, select, textarea {
  font-size: 1.4rem;
  margin: 0 0 40px 0;
}

input[type="text"], input[type="password"],
textarea {
  width: 100%;
  border: 0px;
  padding: 0 0 0 5px;
  background-color: #F9F9F9;
  border-bottom: 1px solid #37173d;
}

input[type="checkbox"] {
  width: 10px;
  margin: 10px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

input[type="date"], input[type="time"], select {
  min-width: 120px;
  text-align: center;
  margin: 10px;
  padding: 5px;
}

input, select {
  padding: 10px;
  width: 100%;
  border: 1px solid #F9F9F9;
}

/* Mobile Menu */
.topnav {
  overflow: hidden;
  background-color: #F9F9F9;
  position: relative;
}

.mobile-menu {
  display: none;
}

.topnav {
  overflow: hidden;
  position: relative;
}

.orderTrial, .orderTrialSummary {
  display: none;
  margin: 30px 0;
}

.orderTrialDateAndTime {
  display: block;
}

table {
  margin: 30px 0;
}

tr, td, table {
  border: 1px solid #777;
}

form p {
  margin: 15px 0;
}

.hide {
  display: none;
}

#wynik1, #wynik2, #orderServices {
  border: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.steps {
  margin: 20px 0;
  text-align: center;
}

.step {
  height: 25px;
  width: 25px;
  margin: 0 5px;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #37173d;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #fc4945;
}

li {
  margin: 10px;
  list-style: none;
}

.map {
  height: 300px;
}

.verticalLine {
  width: 0px;
  height: 250px;
  border: 1px solid #d8d8d8;
}

button {
  color: #FFF;
  border: 1px solid #37173d;
  background: #37173d;
  height: 32px;
  width: 200px;
  padding: 5px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 1rem;
  transition: 0.5s;
}

button:hover {
  color: #FFF;
  background: #fc4945;
  border: 1px solid #fc4945;
  cursor: pointer;
}

.button__area {
  margin: 0 5px;
}

.button__slider {
  margin: 0 auto;
}

.picture__logo {
  height: 75px;
}

.picture__slide {
  width: 100%;
  position: relative;
}

.picture__services {
  width: 100%;
  margin: 0 0 15px 0;
}

.picture__orderinfo {
  width: 70%;
  margin: 30px 15%;
}

.picture__team {
  width: 75%;
  position: relative;
  box-shadow: 0px 0px 35px 0px dimgray;
}

.picture__team.picture__team--left {
  top: 100px;
  left: 180px;
  transition: opacity 1s ease-in-out;
}

.picture__team.picture__team--left:hover {
  z-index: 5;
}

.picture__team.picture__team--right {
  width: 60%;
  top: -150px;
  left: 50px;
}

.icon__team {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.icon__socialMedia {
  width: 25px;
  height: 25px;
  margin: 10px;
}

.container__slider {
  align-items: center;
}

.box__slider {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 10%;
}
