.box {
    display: flex;
    flex-direction: column;
}

.box__services{
    justify-content: center;
    width: 300px;
    height: 450px;
    margin: 15px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.3);
    transition: 0.5s;
    &:hover{
        box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
        transform: translateY(-10px);
        background: rgba(255, 255, 255, 0.6);
    }        
    & h4 {
        justify-content: center;
    }
}

.box__team {
    width: 50%;
}


.box__orderInfo {
    text-align: center;
    width: 150px;
    height: 150px;
    margin: 50px;
    border: 3px solid $violet;
    border-radius: 50%;
}

.box__footer {
    width: 46%;
    margin: 0 2%;
}

.box__icon {
    & .icon__socialMedia--violet{
        display: block;
    }
    & .icon__socialMedia--orange{
        display: none;
    }
    &:hover {
        & .icon__socialMedia--violet{
            display: none;
        }
        & .icon__socialMedia--orange{
            display: block;
        }
    }
}
