.col {
    display: flex;
    flex-direction: column;
}

.col__footer {
    width: 29.33%;
    margin: 0 2%;
    & a{
        text-decoration: none;
        transition: 0.3s;
    }
    & a:hover{
        color: $orange;
        text-decoration: none;
    }
}

.col__footer--big {
    width: 58.66%;
    margin: 0 2%;
    & a{
        text-decoration: none;
        transition: 0.3s;
    }
    & a:hover{
        color: $orange;
        text-decoration: none;
    }
}