input, select, textarea {
    font-size: 1.4rem;
    margin: 0 0 40px 0;
}
input[type="text"], input[type="password"],
textarea {
    width: 100%;
    border: 0px;
    padding: 0 0 0 5px;
    background-color: $light-gray;
    border-bottom: 1px solid $violet;
}

input[type="checkbox"] {
    width: 10px;
    margin: 10px;
}

input[type="checkbox"] {
    margin-right:  5px;
}

input[type="date"], input[type="time"], select {
    min-width: 120px;
    text-align: center;
    margin: 10px;
    padding: 5px;
}

input, select {
    padding: 10px;
    width: 100%;
    border: 1px solid $light-gray;
  }

/* Mobile Menu */
.topnav {
    overflow: hidden;
    background-color: $light-gray;
    position: relative;
  }
  
.mobile-menu {
    display: none;
  }

  .topnav {
    overflow: hidden;
    position: relative;
  }
.orderTrial,.orderTrialSummary {
    display: none;
    margin: 30px 0;
}
.orderTrialDateAndTime {
    display: block;
}
table {
    margin: 30px 0;
}
tr, td, table {
    border: 1px solid #777;
}

form p {
    margin: 15px 0;
}

.hide {
    display: none;
}

#wynik1, #wynik2, #orderServices {
    border: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}