.container__header {
}

.row__top {
    background: $purple;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
}

.row__menu {
    justify-content: space-around;
    align-items: center;
}

.header-container {
    width: 100%;
    margin: 5vh 0 ;
    text-align: center;
}

.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0px;
    & li {
        margin: 20px 50px;
        & a, & a:hover {
            text-decoration: none;
        }
    }
}