header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 10vh;
    min-height: 80px;
    padding: 0 $padding-sm;

    &.bg-purple {
        background: $purple;
    }

    .top-menu {
        display: flex;
        li {
            margin: 0 $margin-sm;

            a {
                font-size: $font-l;
                font-weight: 500;
            } 

            .submenu-container {
                display: flex;
                align-items: center;
                width: 100%;
                min-height: 160px;
                background: $white;
                position: absolute;
                top: 80px;
                left: 0;
                z-index: 1;
                overflow: hidden;
                display: none;

                &.active {
                    display: flex; 
                }
                .top-submenu {
                    display: flex;
                    flex-direction: column;
                }
                .box {
                    width: 200px;
                    height: 300px;
                    .image-container {
                        position: relative;
                        padding-top: 50%;
                        .image-box {
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            .image {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                    
                    
                }

            

        
            } 
        }
    }

    

    .user-container {
        display: flex;
        height: 100%;
        .login-box  {
            display: flex;
            align-items: center;
            height: 100%;
            
            padding: 0 $padding-sm;

            .login-text {
            color: $violet; 
            font-size: $font-l;
            font-weight: 400;
            transition: 0.3s;
            &:hover {
                color: $orange;
            }
            }
        }

        .reservation-box  {
            display: flex;
            align-items: center;
            height: 100%;
            background: $violet;
            padding: 0 $padding-sm;
            transition: 0.3s;
            &:hover {
                background: $orange;
            }

            .reservation-text {
            color: $white; 
            font-size: $font-l;
            font-weight: 400;
            }
        }
    }
}