table {
    width: 100%;
    font-size: 1.2rem;
    th {
        padding: 10px;
    }
    td {
        text-align: center;
        height: 50px; 
        select {
            width: 100%;
            margin: 0;
        }
    }
}