$light-gray:  #F9F9F9;
$dark-gray: #d8d8d8;
$white: #FFF;
$violet: #37173d;
$purple: #f4ebf2;
$orange: #fc4945;
$black: #000;


$margin-sm: 15px;
$padding-sm: 15px;

$font-sm: 10px;
$font-m: 14px;
$font-l: 18px;